body {
  background-color: rgb(236, 242, 248);
  font-size: 13px;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.articleContainer {
  width: 600px;
  height: 300px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
}

.image img {
  height: 100%;
  width: 40%;
  border-radius: 20px 0px 0px 20px;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 15%;
     object-position: 15%;
}

.content {
  position: absolute;
  left: 42%;
  padding: 2%;
  font-family: "Manrope", "sans-serif";
}

p:first-of-type {
  font-weight: 700;
  font-size: 1.4em;
  color: rgb(72, 85, 106);
}

p:nth-child(2) {
  font-size: 1em;
  color: rgb(72, 85, 106);
}

.credits {
  display: flex;
  position: relative;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 3%;
}

.creditsContent {
  margin-left: 5%;
}
.creditsContent p:first-of-type {
  font-size: 1em;
}
.creditsContent p:nth-child(2) {
  color: rgb(158, 175, 194);
}

.share-button {
  position: absolute;
  top: 25%;
  margin-left: 80%;
  background-color: rgb(236, 242, 248);
  width: 2.3rem;
  height: 2.3rem;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s ease;
}
.share-button svg path:hover, .share-button svg path:focus {
  fill: white;
}

.share-button:hover, .share-button:focus {
  background-color: rgb(72, 85, 106);
}

.share-content {
  opacity: 0;
  transition: 0.5s ease;
}

.rectangle {
  background-color: rgb(72, 85, 106);
  width: 75%;
  height: auto;
  position: absolute;
  top: -60%;
  left: 45%;
  border-radius: 10px;
}

.triangle {
  position: absolute;
  top: 5%;
  left: 81%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgb(72, 85, 106);
}

.shareContents {
  margin-left: 12%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shareContents p {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 100;
}
.shareContents img {
  width: 10%;
  height: 10%;
  margin-left: 10%;
}

@media screen and (max-width: 600px) {
  .articleContainer {
    width: 320px;
    height: 600px;
  }
  .image img {
    height: auto;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .content {
    position: absolute;
    top: 40%;
    left: 0%;
    padding: 10%;
  }
  .credits {
    margin-top: 12%;
  }
  .share-button {
    z-index: 2;
  }
  .rectangle {
    width: 125%;
    height: 135%;
    position: absolute;
    top: -10%;
    left: -12.5%;
    border-radius: 0px 0px 20px 20px;
  }
  .triangle {
    display: none;
  }
  .shareContents {
    margin-left: 5%;
    padding: 1%;
    margin-top: 6%;
  }
  .shareContents img {
    width: 7%;
    height: 7%;
    margin-left: 5%;
  }
  .share-button:hover, .share-button:focus {
    background-color: rgb(158, 175, 194);
  }
}/*# sourceMappingURL=index.css.map */